.cfg
.*_history
.zsh_history
.vim

.cache
.mozilla

.config/
!.config/onedrive
!.config/i3
!.config/zsh
!.config/clash
!.config/ibus

Code/
Desktop/
Documents/
Downloads/
OneDrive/
Pictures/
Projects/
